node_modules
npm-debug.log*
.DS_Store
*.log
coverage
.vscode/settings.local.json

# Build outputs
apps/frontend/dist
apps/backend/dist

# Env files
.env
*.env.local

# Prisma local DB
apps/backend/prisma/dev.db
apps/backend/prisma/dev.db-journal
